In [1]:
import sys
import pandas as pd
import ankh
import os
import requests

In [2]:
sys.path.append("..")

In [3]:
from scripts.utils import convert_fasta_to_df, write_fasta, filter_df, prepare_neg_samples

In [4]:
df = pd.read_csv("../data/external/trembl_test.csv")

In [5]:
df = convert_fasta_to_df("../data/not_annotated/raw_fasta/merged.fasta")

In [6]:
go_no_annot = prepare_neg_samples("../data/not_annotated/not_annotated.yml")

In [14]:
out_df = df.merge(go_no_annot, on="identifier")

In [12]:
test_1 = pd.read_csv("../data/splits/test_trembl_MF.csv")

In [14]:
test_1.label.value_counts()

0    282
1    159
Name: label, dtype: int64

In [69]:
df = pd.read_csv("../data/processed/test_trembl_proteinfer_org.csv")

In [70]:
df

     identifier  cluster                          organism   kingdom
0    A0A075AP15    69001  Rozella allomycis (strain CSF55)     Fungi
1    A0A0B4K7P1    91790           Drosophila melanogaster   Metazoa
2    A0A0B4KGD0    69003           Drosophila melanogaster   Metazoa
3    A0A0G2QC09    91802                 Rattus norvegicus   Metazoa
4    A0A0P7ARV0    16351              Neonectria ditissima     Fungi
..          ...      ...                               ...       ...
582  A0A2G6Y998    91825                 Acidovorax sp. 62  Bacteria
583      G5AZR9    34559             Heterocephalus glaber   Metazoa
584  A0A6J2UAV1    91823           Drosophila lebanonensis   Metazoa
585      A1Z7P5    35048           Drosophila melanogaster   Metazoa
586  A0A452R4S4    34559                  Ursus americanus   Metazoa

[587 rows x 4 columns]

In [71]:
df.drop(columns=["cluster"], axis=1, inplace=True)

In [54]:
df.drop(columns=["sequence", "label"], axis=1, inplace=True)

In [72]:
df.to_csv("../data/taxon/test_trembl_proteinfer.csv", index=False)

In [73]:
df

     identifier                          organism   kingdom
0    A0A075AP15  Rozella allomycis (strain CSF55)     Fungi
1    A0A0B4K7P1           Drosophila melanogaster   Metazoa
2    A0A0B4KGD0           Drosophila melanogaster   Metazoa
3    A0A0G2QC09                 Rattus norvegicus   Metazoa
4    A0A0P7ARV0              Neonectria ditissima     Fungi
..          ...                               ...       ...
582  A0A2G6Y998                 Acidovorax sp. 62  Bacteria
583      G5AZR9             Heterocephalus glaber   Metazoa
584  A0A6J2UAV1           Drosophila lebanonensis   Metazoa
585      A1Z7P5           Drosophila melanogaster   Metazoa
586  A0A452R4S4                  Ursus americanus   Metazoa

[587 rows x 3 columns]